body {
    background-color: #242019;
    font-family: Cambria;
}


h1 {
    display:inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    margin: 5px;

}
header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
    max-height: 20rem;
    background-color: whitesmoke;
    background-position-y: -55px;
    margin-left: 160px;
}

.title_text {
    text-align: center;
    font-size: 30px;
}

.regular_text {
    text-indent: 70px;
}

footer {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: bold;
    border-style: solid;
    background-color: whitesmoke;
    margin-left: 160px;
    margin-top: 10px;
}

.address_names {
    padding: 10px;
}
.address_emails {
    padding: 10px;
    width: 63%;
}

.copy {
    font-size: 70px;
    width: 20%;
    text-align: center;
    padding-bottom: 7px;
}

button{
    width: 200px;
    font-family: verdana;
    font-size: 20px;
    font-weight: bold;
    background-color:whitesmoke;
    border-color: gray;
}
button:hover{
    background-color: gray;
    cursor: pointer;
}
a{
    text-decoration: none;
    color:black;
    border-color: black;
}

a:visited{
    color: black;
    text-decoration: none;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: whitesmoke;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  background-color: whitesmoke;
  margin-top: 10px;
  border-style: solid;
  height: 500px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

p {
    display: block;
    padding-left: 50px;
    padding-right: 50px;
  }

/* N-gram page*/
.app {
    display: flex;
    flex-direction: row;
    border-style: solid;
    margin-bottom: 10px;
    height: 80%;
}

.action_menu {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}

select {
    background-color: whitesmoke;
}

btn {
    font-weight: bold;
    border-style: solid;
}

btn:hover {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}

select:hover {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}

.half1 {
    border-right: solid;
    width: 48%;
}
.half2 {
    border-left: solid;
    width: 48%;
}

.input_output_div {
    border-bottom: solid;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 2px;
}

textarea {
    border-style: solid;
    width: 98.85%;

    background-color: whitesmoke;
    height: 75%;
}

.separator {
    width:4%;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}