.container {
    background-color: #242019;
}
img {
    width:100%;
    max-width: 100%;
    object-fit: contain;
    opacity: 60%; 
}

h1 {
    display:inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    margin: 5px;
    
}
header {
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria;
    text-align: center;
    border-style: double;
    margin-bottom: 5px;
    padding-bottom: 5px;
    max-height: 20rem;
    background-color: white;
    background-position-y: -55px;
}

footer {
    font-size: 15px;
    font-family: Cambria;
    font-weight: bold;
    text-align: left;
    border-style: double;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: fixed;
    left:0;
    bottom:0;
    width:98%;
    height:3rem;
    background-color: white;

}
button{
    width: 200px;
    font-family: verdana;
    font-size: 20px;
    font-weight: bold;
    background-color:white;
    border-color: gray;
}
button:hover{
    background-color: gray;
    cursor: pointer;
}
a{
    text-decoration: none;
    color:black;
    border-color: black;
}

a:visited{
    color: black;
    text-decoration: none;
}
.main {
    min-height: 30rem;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
}

.ghost {
    font-size: 15px;
    font-family: Cambria;
    font-weight: bold;
    text-align: left;
    border-style: none;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    left:0;
    bottom:0;
    width:90%;
    height:3rem;
    background-color: white;

}